.env
solo_sienge-storage-state.json
solo_sienge-storage-state-*.json
solo_sienge-authorize-log.json
solo_sienge-authorize-log-*.json
sienge-authorize-log.json
sienge-authorize-log-*.json
reports/
node_modules/
screenshots/
screenshots-*/